################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/BucketSort/BucketSort/Debug
/BucketSort/Debug
/BucketSort/BucketSort.VC.VC.opendb
/BucketSort/BucketSort.VC.db
/BucketSort/BucketSort.sln
/BucketSort/.vs/BucketSort/v14/.suo
/BucketSort/BucketSort/BucketSort.vcxproj.filters
/BucketSort/BucketSort/BucketSort.vcxproj
