################################################################################
# This .gitignore file had been modified for ignore some useless files
################################################################################

*Debug
*.opendb
*.VC.db
*.sln
*.suo
*.vcxproj.filters
*.vcxproj
